body {
    font-family: sans-serif;/* se añade la fuente a utilizar*/
    margin: 0;/*la margen que tendra la pág */
  


}

.contenedor {
      display: flex;  /*se aplica para todos los hijos directors del elemento y asi añadir atributos dle flexbox */
    flex-wrap: wrap;  /*   ayuda a que tengamos multiples lineas/columnas  en las trajetas */
    justify-content: space-around; /*  ayuda a que tengamos espacio entre las tarjetas */
    padding: 20px; /*separa nuestro contenido */
   
}

.tarjeta {
    width: 300px; /*añadimos el ancho de las trajetas*/
    margin: 10px; /*añadimos margen a las tarjetas*/
    border: 1px solid #ccc; /*añadimos borde*/
    padding: 20px; /*separa nuestro contenido */
    border-radius: 5px; /*añadimos un borde redondeado*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*añadimos un estilo de sombreado*/
    
}

.tarjeta img {
    width: 100%; /*añadimos ancho a las imagenes*/
    height: auto; /*añadimos alto,dependiento del tamaño del contenedor*/
    display: block; /*bloqueamos la imagen para que quede fija en la trajeta y así no tenga ningun comportamiento*/
    border-radius: 5px 5px 0 0; /*añadimos un borde redondeado*/
   
}

.tarjeta h3 {
    margin-top: 10px; 
    /* Se desplaza el texto de arriba-abajo para estar legible */
}

.tarjeta p {
    font-size: 0.9em; /* Se le aplica fuente al texto dependiendo del tamaño del elemento padre*/
    line-height: 1.5; /*una altura entre lineas  */
}